@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  padding: 0;
  margin: 0;
}
@layer components {
  .nav {
    @apply relative  cursor-pointer text-[#93897a] hover:text-white;
  }
  .nav::after {
    @apply absolute content-[''] bg-white h-[1px] w-[0%] left-0 bottom-[-2px] duration-300;
  }
  .nav::after:hover {
    @apply w-[100%];
  }
}
@layer base {
  .nav {
    font-family: FuturaPT;

    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }

  .title {
    font-family: FuturaPT;
    letter-spacing: 0.5px;
    font-style: normal;

    font-weight: 400;
    font-size: 20px;
  }
}
